body{
  /*background-image: url("images/background0.jpg");*/
  background-size: 100%;
  margin-left: 18%;
  font-family: "ubuntu";
  color:white;
  background-image: url("images/gradient.jpg");
  background-color: black;
  background-repeat: no-repeat;
}

.homeView{
  width: 90%;
  height: 700px;
  padding-left: 1%;
}

body::after{
  content:'';
  display:block;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-size: 50%;
  background-image:url("images/hexa.png");
  background-repeat: repeat;
  position:absolute;
  z-index: -1;
}

.homeView header{
  position: relative;
  width: 92%;
  top: 0px;
  height: 50px;
  background-color: rgba(255, 225, 225, 0.3);
  color:rgba(255, 225, 225, 0.3);
  text-shadow: 1px 2px 0px white;
  padding: 1%;
  margin-left: 1%;
}

.banner{
  width: 100%;
  height: 75px;
  display: inline-block;
  padding: 0px;
}
.banner img{
  height:50px;
  width: 50px;
  display: inline-block;
  margin: 0px;
  position: relative;
  top:15px;
}
.banner p{
  display: inline-block;
  font-size: 30px;
  margin: 0px;
}
.p2 {
  position: relative;
  font-size:15px;
}

.midViewHome{
  margin-top: 10px;
  width: 100%;
  height: 300px;
}

.midLeftHome{
  display: inline-block;
  width: 30%;
  height:100%;
  border: 2px double white;
  background-image: url("images/me.jpg");
  background-size: 120%;
  background-position: 50%;
  float: left;
  margin-left:1%;
}
.midLeftHome::after{
  content:'';
  display:block;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image:url("images/static.gif");
}


.midRightHome{
  display: inline-block;
  width: 60%;
  height: 94%;
  background-color: black;
  color: white;
  float:left;
  padding:10px;
  font-family:'Syncopate', sans-serif;
  margin-left:1%;
}
.midRightHome p{
  margin-top:0px;
}

i{
  color:white;
}

.homeFootCont{
  width: 100%;
  height: 340px;
  margin-top: 10px;
}

.nav{
  display: inline-block;
  width: 30%;
  height: 75%;
  background-size: 100%;
  margin-left: 1%;
  border: 2px solid white;
  color: rgba(0, 0, 0, 0.0);
  position: relative;
}

.resume{
  background-image: url('images/resume.jpg');
}

.about{
  background-image: url('images/aboutMe.jpg');
}

.projects{
  background-image: url('images/projects.jpg');
}

.nav:hover:after{
  content:'';
  display:block;
  left:0;
  top:0px;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color:black;
  z-index: 1;
  color: rgba(225, 225, 225, 1);
}

.nav p{
  z-index:2;
  position: absolute;
  top:20px;
  font-size: 40px;
  top: 60px;
  left:5px;
}

.nav:hover{
  color:white;
}

/*
.aboutMe{
  display: inline-block;
  width: 30%;
  height: 75%;
  background-image: url('images/aboutMe.jpg');
  background-size: 100%;
  margin-left: 1%;
  border: 2px solid white;
  color:
}
.projects{
  display: inline-block;
  width: 30%;
  height: 75%;
  background-image: url('images/projects.jpg');
  background-size: 100%;
  margin-left: 1%;
  border: 2px solid white;
}*/
