.main-nav span:not(.material-icons) {
    font-size: 2em;
    text-transform: uppercase;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
a {
  text-decoration: none !important;
}
b{
  font-weight: bold;
}
li, ul {
  list-style-type: none !important;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-size: 35px;
}
@media(max-width:2280px) {
  body {
    font-size: 28px;
  }
}
@media(max-width:2160px) {
  body {
    font-size: 26px;
  }
}
@media(max-width:1800px) {
  body {
    font-size: 22px;
  }
}
@media(max-width:1608px) {
  body {
    font-size: 20px;
  }
}
@media(max-width:1440px) {
  body {
    font-size: 18px;
  }
}
@media(max-width:640px) {
  body {
    font-size: 14px;
  }
}
@media(max-width:500px) {
  body {
    font-size: 13px;
  }
}
@media(max-width:400px) {
  body {
    font-size: 12px;
  }
}
h1, h2, h3, h4, h5, header, button{
  font-family: 'VT323', monospace;
}
p, a, b{
  font-family: 'Oswald', sans-serif;
}
p{
  font-size: 1em;
}
@media(max-width:1440px) {
  p{
    font-size: 1em;
  }
}
@media(max-width:600px){
  p {
    font-size: 1.25em;
  }
}
/* wrapper */
.wrapper {
  width: 100%;
  background-color: #333;
  border-top: 0.5em solid #333;
}
.main-nav {
    width: 6em;
    border-left: 1px solid rgba(0,0,0,0.25);
    text-align: center;
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    z-index: 999;
}
.main-content {
  text-align: center;
  border-top: 0.5em solid #333;
}
.main-nav ul {
  width: 100%;
  display: block;
}
.main-nav ul li{
  display: block;
  width: 100%;
  padding: 1em 0em 1em 0em;
}
.main-nav ul li b{
  color: #e4fde1;
  text-shadow: 0em 0em 1em;
  opacity: 0.25;
}
.main-anchor{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.75em;
    color: #e4fde1;
    text-shadow: 0em 0em 1em;
    transition: 0.3s;
    background: none;
    border: none;
}
.main-anchor:hover,
.main-anchor.active{
  color: #F45B69;
}
.main-nav ul li .material-icons {
    font-size: 2em;
    display: block;
}
/* content blocks */
.top-hero {
    width: 100%;
    display: block;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.hero {
    width: 100%;
    display: block;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 5em 0em 5em 0em;
}
#intoduction {
    background-image: url("images/lucas-kapla-wQLAGv4_OYs-unsplash.jpg");
}
#intoduction img {
    width: 10em;
    border-radius: 50%;
}
.top-hero-content {
    padding: 18em 0em;
    overflow: hidden;
    position: relative;
}
.hero-content {
    width: 100%;
    text-align: center;
    padding: 1em;
    max-width: 1300px;
    margin-right: 6em;
    margin-left: auto;
}
.top-hero-content section,
.top-hero-content video{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.top-hero-content section{
  z-index: 2;
}
.top-hero-content video{
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}
.top-hero-content h1 {
    text-transform: capitalize;
    font-size: 4em;
    color: #e4fde1;
    text-shadow: 0.05em 0.05em #ff00008a, -0.05em -0.05em #0098ffad;
}
.top-hero-content h2{
  color:#e4fde1;
  text-transform: capitalize;
}
.content-block{
  width: 100%;
  text-align: center;
}
.content-block.white section{
      text-align: center;
      display: block;
      margin-right: 6em;
      width: 100%;
      margin-left: auto;
      background: #456990;
}
.content-block.white section p {
    max-width: 1000px;
    color: #E4FDE1;
    margin: 0 auto;
    text-align: justify;
    padding: 4em;
    line-height: 2.5em;
}
.content-block.red,
.content-block.white{
  background-image: url("images/grid.png");
  background-size: 1em;
}
.content-block.red {
    background-color: #F45B69;
    padding: 3em;
    border-bottom: 0.25em solid #e4fde1;
}
.content-block.red *{
  color: #E4FDE1;
}
.content-block header {
    font-size: 3em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}
.content-block img{
  display: inline-block;
  vertical-align: middle;
}
@media(max-width:1060px){
  .top-hero-content video{
    width: auto;
    height: 100%;
  }
}
#list-section {
  background-image: url("images/pawel-nolbert-4u2U8EO9OzY-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}
#list-section ul {
  padding: 10em;
  background: #00000080;
}
#list-section li {
  color: #e4fde1;
  max-width: 900px;
  background-color: #131d35e6;
  margin: 3em auto;
  padding: 3em;
}
#list-section li h4 span:not(.material-icons) {
    font-family: 'VT323', monospace;
    font-size: 3em;
    text-shadow: 0em 0em 0.2em #87ceebad;
    line-height: 1em;
}
#list-section span.material-icons {
    font-size: 2em;
    text-shadow: 0em 0em 0.2em #87ceebad;
}
#list-section li p {
  line-height: 2em;
  font-weight: lighter;
  font-size: 1.25em;
  text-align: justify;
}
.content-block.previous-works{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("images/lucas-kapla-wQLAGv4_OYs-unsplash.jpg");
}
.employers, .projects {
  padding: 6em 6em 6em 2em;
  text-align: center;
}
.employers{
  background: rgba(0,0,0,0.75);
}
.projects {
  background-color: #114B;
}
.employers ul{
  width: 100%;
  max-width: 900px;
  display: table;
  margin: 0 auto;
}
.employers li{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.employers .logo{
  width: 33%;
  padding: 2em;
}
.logo img{
  max-width: 10em;
}
.employers li h3{
 font-size: 3em;
 text-shadow: 0em 0em 0.25em skyblue;
}
.employers li{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #E4FDE1;
  width: 50%;
}
.employers li p,
.employers li b{
  text-shadow: 0em 0em 0.2em black;
  line-height: 2em;
}
.employers li p{
  font-weight: lighter;
}
.projects ul{
  width: 100%;
  max-width: 900px;
  display: table;
  margin: 0 auto;
}
.projects li {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    color: #E4FDE1;
    width: 50%;
    padding: 2em;
}
.projects img {
    box-shadow: 0em 0em 1em white;
    transition: 0.3s;
}
.projects img:hover{
  transform: scale(1.1);
}
.projects h3 {
  font-size: 2em;
  color: #E4FDE1;
  margin-top: 1em;
  text-shadow: 0em 0em 0.25em black;
  text-transform: uppercase;
}
.projects span {
  color: #E4FDE1;
  font-size: 1.25em;
}
.projects p {
  text-align: justify;
  line-height: 2em;
}
.content-block.resume {
  padding-right: 6em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
}
.resume iframe {
  width: 100%;
  border: none;
  height: 1200px;
}
.content-block.contact{
  background-image: url("images/andrea-de-santis-i2BcaGXomv0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.content-block.contact ul {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 8em 0em;
    background-color: rgba(0,0,0,0.7);
}
.content-block.contact ul li{
  width: 100%;
  display: block;
  text-align: center;
  padding: 1em;
}
.content-block.contact .material-icons,
.content-block.contact a{
  display: inline-block;
  vertical-align: middle;
  text-shadow: 0em 0em 0.5em skyblue;
  color: #E4FDE1;
}
.content-block.contact ul li:hover a,
.content-block.contact ul li:hover .material-icons{
  color: white;
  text-shadow: 0em 0em 0.5em gold;
}
.content-block.contact .material-icons{
  font-size: 1em;
}
.content-block.contact a{
  font-size: 2.5em;
}
@media(max-width:1440px){
  .content-block.white section p {
    padding: 3em 8em;
  }
  .projects img {
    width: 20em;
  }
}
@media(max-width: 1050px){
  .projects li {
      display: block;
      width: 100%;
      padding: 0em;
      max-width: 500px;
      margin: 4em auto;
  }
}
@media(max-width:800px){
  #list-section ul {
    padding: 8em;
  }
  .projects ul,
  .employers ul{
    display: block;
  }
  .projects li, .employers li {
    max-width: 300px;
    display: block;
    margin: 2em auto;
    padding: 0;
    width: 100%;
  }
  .employers .logo {
    width: 100%;
  }
}
@media(max-width:600px){
  .main-nav {
    width: 100%;
    border-left: none;
    top: auto;
    background-color: rgba(0,0,0,0.9);
    height: auto;
    padding: 0.5em;
    bottom: 0;
  }
  .main-nav ul {
    padding: 1em 0em;
  }
  .main-nav ul li{
    display: inline-block;
    vertical-align: middle;
    width: 23%;
  }
  li.spacer-li {
      display: none !important;
  }
  .employers, .projects {
      padding: 4em;
      text-align: center;
  }
  #list-section ul {
    padding: 3em;
  }
  .content-block.white section p {
    padding: 3em 3em;
  }
  .content-block.contact ul {
    padding: 10em 0em 18em 0em;
  }
}
