*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
*:not(.material-icons) {
  font-family: "roboto mono", sans-serif;
  font-weight: 100;
}
@font-face {
    font-family: 'besom_2regular';
    src: url('fonts/besom-handwritten-brush-font-webfont.woff2') format('woff2'),
         url('fonts/besom-handwritten-brush-font-webfont.woff') format('woff'),
         url('fonts/Besom-Handwritten-Brush-Font.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
a {
  text-decoration: none !important;
}
li, ul {
  list-style-type: none !important;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-size: 35px;
}
@media(max-width:2280px) {
  body {
    font-size: 28px;
  }
}
@media(max-width:2160px) {
  body {
    font-size: 26px;
  }
}
@media(max-width:1800px) {
  body {
    font-size: 22px;
  }
}
@media(max-width:1608px) {
  body {
    font-size: 20px;
  }
}
@media(max-width:1440px) {
  body {
    font-size: 18px;
  }
}
@media(max-width:1200px) {
  body {
    font-size: 16px;
  }
}
@media(max-width:1085px) {
  body {
    font-size: 15px;
  }
}
@media(max-width:800px) {
  body {
    font-size: 13px;
  }
}
@media(max-width:500px) {
  body {
    font-size: 12px;
  }
}
@media(max-width:400px) {
  body {
    font-size: 10px;
  }
}
.masthead {
    display: table;
    width: 100%;
    text-align: center;
    padding: 9em 4em 5em 4em;
    background-color: #182935ab;
}
.masthead::before {
    content: " ";
    left: 0;
    top: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 40em;
    background-image: url("images/david-martin-p9vBVq_-nXY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.header-img img{
    display: inline-block;
    vertical-align: middle;
    width: 16em;
    border-radius: 50%;
    border: 0.25em solid white;
}

.title {
    vertical-align: middle;
    padding-bottom: 1em;
    display: inline-block;
}
.title h1 {
    color: white;
    text-shadow: 0em 0em 0.25em black;
    font-size: 3em;
    border-bottom: 0.05em solid white;
    margin-bottom: 0.25em;
}
.title h2 {
    color: white;
    font-size: 1.5em;
    text-shadow: 0em 0em 1em black;
}
#nav {
    width: 100%;
    display: table;
    background-color: #4b4b4b;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}
#nav a {
    font-size: 1em;
    border: none;
    background: none;
    padding: 1em;
    color: white;
    display: block;
    text-align: center;
    border-bottom: 0.25em solid #ffffff7a;
}
#nav li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transition: 2s;
}


.nav li:first-child {
    background-color: #1c587b;
}
.nav li:nth-child(2) {
    background-color: #1c587b;
}
.nav li:nth-child(3) {
    background-color: #1c587b;
}
.nav li:nth-child(4) {
    background-color: #1c587b;
}
.nav.load li:nth-child(2) {
    background-color: #2079ac;
}
.nav.load li:nth-child(3) {
    background-color: #178acc;
}
.nav.load li:nth-child(4) {
    background-color: #0d95e3;
}


#nav li a:hover{
  border-bottom: 0.25em solid gold;
}
#main {
    background-color: #fdf6e9;
    position: relative;
}
.page{
  padding-top: 2.75em;
}
/*=================*/
.page h4 {
  font-size: 4em;
  color: #876944;
  margin: 0 auto;
  text-align: center;
}
.mywork-top {
	display: table;
	padding: 1em 1em;
	text-align: center;
	width: 100%;
}
.mywork-top .left{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.mywork-top img{
  width: 12em;
}
.mywork-top .right{
  display: table-cell;
  vertical-align: middle;
  width: 75%;
  text-align: center;
}
#example-sites{
  width: 100%;
  text-align: center;
}
#example-sites li {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  text-align: center;
}
#example-sites li a {
    display: block;
    width: 100%;
    padding: 1em;
}
.website-img {
    width: 100%;
    height: 20em;
    overflow: hidden;
    position: relative;
    margin: 1em auto;
    display: block;
    border: 0.2em solid #1c587b;
}
.website-img img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) scale(1);
    width: 100%;
    transition: 0.3s;
}
.website-img:hover img {
	transform: translateX(-50%) scale(1.1);
}
#example-sites h2 {
    font-size: 1.33em;
    font-weight: bold;
    text-transform: capitalize;
}
#example-sites h2 span {
    font-size: 0.75em;
    color: grey;
    display: block;
}
/*=============*/
.paragraph{
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 2.25em;
    text-align: justify;
    padding: 3em;
}
.paragraph span{
  font-size: 2em;
  display: inline-block;
  color: darkred;
  text-transform: uppercase;
  vertical-align: top;
  font-weight: bold;
}
.paragraph b{
  font-weight: bold;
  font-family: inherit;
}
/*==========*/
#goals {
    display: table;
}
#goals li {
    display: table-cell;
    text-align: center;
    width: 33.3%;
    padding: 2em;
}
#goals h5 {
    font-size: 1.5em;
    font-weight: bold;
}
#goals .material-icons {
    font-size: 4em;
    color: #1c587b;
}
#goals p {
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 1em;
    text-align: justify;
}
#goals p span{
  font-size: 2em;
  display: inline-block;
  color: darkred;
  text-transform: uppercase;
  vertical-align: top;
  font-weight: bold;
}
#goals p b{
  font-weight: bold;
  font-family: inherit;
}
/*=======================*/
.contact ul {
    text-align: center;
    background-color: #333;
    padding: 2em;
}
.contact li {
    padding: 1em;
}
.contact li span {
    color: white;
    font-size: 2em;
}
.contact a {
    color: wheat;
    font-size: 2em;
}
/*=======================*/
@media(max-width:870px){
  .website-img{
    height: 14em;
  }
}
@media(max-width:650px){
  .paragraph {
    padding: 1em;
  }
  #example-sites li {
    display: block;
    width: 28em;
    margin: 0 auto;
  }
  #goals {
    display: block;
  }
  #goals li {
      display: block;
      width: 28em;
      padding: 2em;
      margin: 0 auto;
  }
  .contact li span {
    display: block;
  }
}
/*=======================*/
@media(max-width:520px){
  .masthead::before {
    height: 50em;
  }
}
/*=======================*/
@media(max-width:400px){
  .mywork-top .left {
    display: block;
  }
  .mywork-top .right {
    display: block;
    width: 100%;
  }
  .mywork-top {
    display: block;
  }
}
